/*
Z-index:
form search: 99;
header fixed top : 9

megamenu-mobile , cart box, menu user : 10
*/

:root {
  --primary-color: #5567ee;
  --background-color-btn: #333333;
  --header-height: 60px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #666;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%; /*1rem = 16px*/
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #222;
  font-weight: 400;
  min-height: 200vh;
  position: relative;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

@keyframes GrowFromTop {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes showUp {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}
@keyframes showformSearch {
  from {
    opacity:0;
    transform: translateY(-100%);
    z-index: -5;
    /* top: -80px; */
  }
  to {
    opacity:1;
    transform: translateY(0);
    z-index: 99;
    /* 
    top: 0; */
  }
}