i,
a {
  transition: all 0.3s linear;
}
.header-box {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eee;
  height: var(--header-height);
  display: flex;
  align-items: center;
  transition: all 0.5s linear;
  background-color: #fff;
}
.header-box{
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
}
.header-fixed.header-box {
  border-bottom: 1px solid rgb(194, 194, 194);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
}
header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:relative;
}
.header-logo span {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  transition: all 0.3s ease;
}

/*Menu right*/
.menu-right-ul {
  display: flex;
}
.menu-right-ul > li ~ li {
  margin-left: 1rem;
}
.menu-right-ul li i {
  font-size: 1.5rem;
  cursor: pointer;
}

/*************Menu right - Search*************/
.search-area{
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 59px;
  z-index: -5;
  opacity: 0;
  transition: all 0.3s linear;
}
/* .search-area{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 59px;
  transition: all 0.3s linear;
  display: none;
  z-index: 99;
  animation: showformSearch 0.5s ease;
} */

.search-box {
  font-size: 0.9rem;
  padding: 0 10px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #ffffff;
}

.search-form {
  flex: 1;
  height: 100%;
  margin-right: 30px;
  line-height:59px;
}
.search-form input {
  width: 100%;
  padding: 10px 45px 10px 15px;
  outline: none;
  border: none;
  background-color:#ffffff;
  border-bottom: 1px solid rgb(199, 199, 199);
}
.search-form input::placeholder {
  color: #555;
}
.search-icon {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}
.bx-search:hover,
.search-close-btn:hover {
  color: var(--primary-color);
}

.search-close-btn {
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-close-btn i {
  font-size: 1.5rem;
}

/*************Menu right - User*************/
.menu-right-user {
  position: relative;
}

.user-menu-dropdown {
  font-size: 0.9rem;
  position: absolute;
  top: calc(100% + 17px);
  right: 0;
  width: 150px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
}
.user-menu-dropdown::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: -24px;
  left: 0;
  width: 100%;
  height: 30px;
  display:block;
}
.user-menu-dropdown a {
  width: 100%;
  padding: 10px 5px;
}
.user-menu-dropdown a:hover {
  color: var(--primary-color);
  background-color: #eee;
}

/**Hover user, cart**/
.menu-right-user .user-menu-dropdown, .menu-right-cart .cart--list{
  display:none;
  transition: all 0.3s ease;
  animation: showUp 0.3s ease
}

.menu-right-user:hover .user-menu-dropdown{
  display: block;
}
@media only screen and (min-width: 1200px) {
  .header-logo span{
    font-size:2rem;
    
  }
  .menu-right-ul>.menu-mobile-icon{
    display:none;
  }
}